.landing{
    width: 100%;
    height: 100vh;
    position: relative;
}
.landing .background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}
.landing .bg-video{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    min-width: 100%;
    
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1d2d53;
    opacity: .75;
}
.landing .landing-text{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.landing .landing-text h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.landing .landing-text p{
    width: 70%;
    font-size: 20px;
}
.landing .landing-btn{
    padding: 15px 30px;
    margin-top: 30px;
    font-size: 24px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s all;

}
.landing .landing-btn:hover{
    background-color: white;
    color: #1d2d53;
}

@media (min-width: 320px) and (max-width: 480px) {
    .landing .landing-text h1{
        font-size: 24px;
    }
    .landing .landing-text{
        padding-top: 105px;
    }
    .landing .landing-text p{
        font-size: 16px;
        width: 90%;
    }
    .landing .landing-btn{
        padding: 10px 20px;
        font-size: 20px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .landing .landing-text h1{
        font-size: 34px;
    }
    .landing .landing-text p{
        font-size: 18px;
        width: 90%;
    }
    .landing .landing-btn{
        padding: 12px 25px;
        font-size: 22px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .landing .landing-text h1{
        font-size: 38px;
    }
    .landing .landing-text p{
        font-size: 20px;
        width: 90%;
    }
    .landing .landing-btn{
        padding: 15px 30px;
        font-size: 24px;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    
}
@media (min-width: 1201px){
    
}