.footer{
    background-color: #1D2D53;
    color: white;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footer-section{
    margin-bottom: 20px;
}
.footer h3{
    font-size: 24px;

}
.footer > p{
    text-align: center;
}