.parent{
    width: 100%;
}
.course-page{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 150px;
    padding-bottom: 40px;
    text-align: right;
}
.course-page h1{
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}
.course-page h1::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #1D2D53;
    bottom: -10px;
    left: 50%;
    border-radius: 3px;
    transform: translateX(-50%);
}
.course-page h3{
    color: #1D2D53;
    margin-bottom: 10px;
    font-size: 20px;

}
.teachers-header{
    text-align: center;
    font-size: 25px !important;
    margin-bottom: 20px !important;
}
.course-page > div > p{
    margin-bottom: 20px;
    padding-right: 30px;
    font-size: 17px;
}

.teachers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.teachers .teacher{
    width: calc(50% - 20px);
    padding: 20px;
    border: 1px solid #1D2D53;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.teachers .teacher .teacher-profile{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.teachers .teacher .teacher-profile img{
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}
.teachers .teacher .teacher-profile p{
    font-size: 18px;
    font-weight: 700;
    color: #1D2D53;
}
.teachers .teacher .intro-video{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.teachers .teacher > p{
    text-align: center;
    font-size: 18px;
}
.course-page button{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #1D2D53;
    padding: 20px 50px;
    font-size: 18px;
    color: #1D2D53;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s all;
}
.course-page button:hover{
    background-color: #1D2D53;
    color: white;
}
.prize-canceled{
    position: relative;
}
.prize-canceled::after{
    content: "";
    position: absolute;
    width: 110%;
    display: block;
    height: 2px;
    background-color: rgb(158, 22, 22);
    left: -9.5%;
    top: 45%;
    transform: rotate(-17deg) translateY(-50%);

}
.teachers .teacher{
    background-color: transparent;
}
@media (min-width: 320px) and (max-width: 480px) {
    .course-page {
        padding-left: 20px;
        padding-right: 20px;
    }
    .course-page h1{
        font-size: 22px;
    }
    .course-page > div > p{
        padding: 0;
        font-size: 16px;
        max-width: 100%;
        display: flex;
        padding-left: 20px;
    }
    .teachers{
        flex-direction: column;
    }
    .teachers .teacher{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .teachers .teacher .teacher-profile{
        flex-direction: column;
    }
    .teachers .teacher .teacher-profile img{
        margin-bottom: 10px;
    }
    .teachers .teacher .intro-video{
        width: 100%;
    }
    .teachers .teacher button{
        padding: 10px 25px;
    }
    .teachers-header{
        margin-top: 40px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .course-page {
        padding-left: 20px;
        padding-right: 20px;
    }
    .course-page h1{
        font-size: 24px;
    }
    .course-page > div > p{
        padding: 0;
        /* font-size: 16px;
        max-width: 100%; */
        /* display: flex;
        justify-content: end; */
        padding-right: 20px;
    }
    .teachers{
        flex-direction: column;
    }
    .teachers .teacher{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .teachers .teacher .teacher-profile{
        flex-direction: column;
    }
    .teachers .teacher .teacher-profile img{
        margin-bottom: 10px;
    }
    .teachers .teacher .intro-video{
        width: 70%;
    }
    .teachers .teacher button{
        padding: 10px 25px;
    }
    .teachers-header{
        margin-top: 40px;
    }

}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 1201px) {
}
