.field{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column ;
}
.temp-section .field{
    padding-top: 105px;

    min-height:calc(100vh - 105px);
}
.field .courses{
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.field h1{
    text-align: center;
    margin-bottom: 20px;
    color: #1D2D53;
}
.field .cond-header{
    margin-top: 40px;
}
.field .back{
    z-index: 5;
    /* top: 75px; */
}
.field .courses .course{
    width: calc((100% / 3) - 20px);
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #1D2D53;
    border-radius: 10px;
    color: #1D2D53;
    padding: 25px 0;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s all;
    font-size: 18px;
    font-weight: 500;
}
.field .courses .course:hover{
    background-color: #1D2D53;
    color: white;
}
.field .courses .empty-course{
    opacity: .7;
    cursor:default;
    position: relative;
}
.field .courses .empty-course::after{
    content: "soon..";
    background-color: red;
    color: white;
    top: 5px;
    position: absolute;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 10px;
    right: 5px;
}
.field .courses .empty-course:hover{
    background-color: transparent;
    color: #1D2D53;
}