.section-detail{
    min-height: calc(100vh - 105px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
}
.section-detail h1{
    color: #1D2D53;
    margin-bottom: 30px;
    text-align: center;
}
.section-detail .fields{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.section-detail .fields .fields-part{
    width: calc((100% / 3) - 20px);
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #1D2D53;
    border-radius: 10px;
    color: #1D2D53;
    padding: 25px 0;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s all;
    font-size: 18px;
    font-weight: 500;
}
.section-detail .fields .fields-part:hover{
    background-color: #1D2D53;
    color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-detail{
        margin-top: 140px;
        margin-bottom: 0;
        padding-bottom: 0;
        min-height: calc(100vh - 185px);
        
    }
    .section-detail h1{
        margin-bottom: 0;
        font-size: 28px;
    }
    .section-detail .fields{
        flex-direction: column;
    }
    .section-detail .fields .fields-part:first-of-type{
        margin-top: 20px;
    }
    .section-detail .fields .fields-part{
        padding: 25px 5px;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .section-detail{
        margin-top: 100px;
        margin-bottom: 0;
        padding-bottom: 0;
        min-height: calc(100vh - 185px);
        
    }
    .section-detail h1{
        margin-bottom: 0;
        font-size: 28px;
    }
    .section-detail .fields{
        flex-direction: column;
    }
    .section-detail .fields .fields-part:first-of-type{
        margin-top: 20px;
    }
    .section-detail .fields .fields-part{
        padding: 25px 5px;
        margin-right: 20px !important;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

}
@media (min-width: 769px) and (max-width: 1024px) {
    .section-detail{
        margin-top: 100px;
        margin-bottom: 0;
        padding-bottom: 0;
        min-height: calc(100vh - 185px);
        
    }
    .section-detail h1{
        margin-bottom: 0;
        margin-bottom: 20px;
    }
    .section-detail .fields{
        flex-direction: row-reverse;
    }
    
    .section-detail .fields .fields-part{
        padding: 25px 5px;
        margin-right: 20px !important;
        width: calc(50% - 40px);
        margin: 0;
        margin-bottom: 20px;
    }

    
}
@media (min-width: 1025px) and (max-width: 1200px) {
    
}
@media (min-width: 1201px){
    
}