* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.home {
    width: 100%;
    overflow: hidden;
}
.home .video-container{
    height: 100vh;
}
.home .video-container div{
    position: absolute;
    width: 100% !important;
    height: 100vh !important;
    top: 0;
    right: 0;
}
.home video {
    max-height: 100vh !important ;
    width: 1500px !important;
    position: absolute;
    top: 0;
    right: 0;
}

